@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using social_net.Data
@model social_net.Models.Group
@{
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject social_net.Data.AppDbContext _appDbContext;

@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    currentUser = await _appDbContext.Users
        .Include(u => u.GroupsSentMessages)
        .FirstOrDefaultAsync(u => u.Id.Equals(currentUser.Id));
    <h3> Conversation with <i>@Model.Name</i> group </h3>

    <section id="messageContainer">
        @{
            var allMessages = Model.ReceivedMessages;
            allMessages.Sort((msg1, msg2) => msg1.SentAt.CompareTo(msg2.SentAt));
        }
        <partial name="_MessagePartial" model="allMessages" />
    </section>

    <form asp-action="SendMessage" asp-route-currentUserId="@currentUser.Id" asp-route-groupId="@Model.Id" method="post">
        <div id="bottom" class="form-floating mb-3">
            <input class="form-control" name="messageContent" autocomplete="off" />
            <label>Press Enter to send a new message to <i>@Model.Name</i> group </label>
        </div>
    </form>
}




<style>
    html {
        scroll-behavior: auto !important;
    }
</style>

<script>
    window.onload = () => {
        const el = document.getElementById("bottom");
        if (el) el.scrollIntoView({ behavior: "auto" });
    };
</script>